<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zht.asset.mapper.AsstesMapper" >
  <resultMap id="BaseResultMap" type="com.zht.asset.pojo.Asstes" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="assetid" property="assetid" jdbcType="VARCHAR" />
    <result column="assetname" property="assetname" jdbcType="VARCHAR" />
    <result column="assettype" property="assettype" jdbcType="VARCHAR" />
    <result column="intodate" property="intodate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, assetid, assetname, assettype, intodate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zht.asset.pojo.AsstesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from asstes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from asstes
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from asstes
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zht.asset.pojo.AsstesExample" >
    delete from asstes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zht.asset.pojo.Asstes" >
    insert into asstes (id, assetid, assetname, 
      assettype, intodate)
    values (#{id,jdbcType=BIGINT}, #{assetid,jdbcType=VARCHAR}, #{assetname,jdbcType=VARCHAR}, 
      #{assettype,jdbcType=VARCHAR}, #{intodate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.zht.asset.pojo.Asstes" >
    insert into asstes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="assetid != null" >
        assetid,
      </if>
      <if test="assetname != null" >
        assetname,
      </if>
      <if test="assettype != null" >
        assettype,
      </if>
      <if test="intodate != null" >
        intodate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="assetid != null" >
        #{assetid,jdbcType=VARCHAR},
      </if>
      <if test="assetname != null" >
        #{assetname,jdbcType=VARCHAR},
      </if>
      <if test="assettype != null" >
        #{assettype,jdbcType=VARCHAR},
      </if>
      <if test="intodate != null" >
        #{intodate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zht.asset.pojo.AsstesExample" resultType="java.lang.Integer" >
    select count(*) from asstes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update asstes
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.assetid != null" >
        assetid = #{record.assetid,jdbcType=VARCHAR},
      </if>
      <if test="record.assetname != null" >
        assetname = #{record.assetname,jdbcType=VARCHAR},
      </if>
      <if test="record.assettype != null" >
        assettype = #{record.assettype,jdbcType=VARCHAR},
      </if>
      <if test="record.intodate != null" >
        intodate = #{record.intodate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update asstes
    set id = #{record.id,jdbcType=BIGINT},
      assetid = #{record.assetid,jdbcType=VARCHAR},
      assetname = #{record.assetname,jdbcType=VARCHAR},
      assettype = #{record.assettype,jdbcType=VARCHAR},
      intodate = #{record.intodate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zht.asset.pojo.Asstes" >
    update asstes
    <set >
      <if test="assetid != null" >
        assetid = #{assetid,jdbcType=VARCHAR},
      </if>
      <if test="assetname != null" >
        assetname = #{assetname,jdbcType=VARCHAR},
      </if>
      <if test="assettype != null" >
        assettype = #{assettype,jdbcType=VARCHAR},
      </if>
      <if test="intodate != null" >
        intodate = #{intodate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zht.asset.pojo.Asstes" >
    update asstes
    set assetid = #{assetid,jdbcType=VARCHAR},
      assetname = #{assetname,jdbcType=VARCHAR},
      assettype = #{assettype,jdbcType=VARCHAR},
      intodate = #{intodate,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>